body {
  font-family: 'Noto Serif', serif;
  margin: 0 5%;
  background: -webkit-linear-gradient(to left, #c0c0aa , #1ce); 
  background: linear-gradient(to left, #c0c0aa , #1ce);
}

h1 {
  font-weight: normal;
  text-align: center; 
  text-transform: uppercase;
  font-size: 5.5em;
  margin-top: 5%;
  padding: 2%;
  border-bottom: .05em solid #003300;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-size: 1.5em; 
}

.nav-flex-container ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
} 

.img-flex-container img {
  border-radius: 20px;
  border-width:.35em;
  margin-right: 3em;
  border-style: solid;
  height: 400px;
  width: 280px;
  flex:1;
}

img {
  border-radius: 20px;
  border-width:.35em;
  border-style: solid;
  margin-right: 3em;
  height: 400px;
  width: 350px;
}

.text-flex-container {
  display: flex;
}

.img-flex-container {
  display: flex;
}

section {
  flex:1;
  text-align: center;
}

aside {
  flex:1;
  text-align: center;
}

footer {
  font-family: 'Noto Serif', serif;
  text-align: center;
  font-size: .85em;
}

footer p {
  font-family: 'Noto Serif', serif;
  display:inline;
  font-size: .85em;
}

#audio-container {
   border-radius: 20px;
   border-width:.35em;
   border-style: solid;
   text-align: center;
   margin: 15% auto;
   width: 60%;
   background-color: #E1E1DB;
   padding-top: 5%;
}

#controls {
   padding: 10px;
}

span:hover{
  background-color: #D2D2D0 ;
}

#audio-container p {
   margin: 0;
}

span {
   margin: 1px 10px;
   padding: 10px;
   color: #5DBCD2;
}

#progress {
   margin: 5%;
   border: 1px solid #5DBCD2;
   border-radius: 5px;
}
#bar {
   height: 20px;
   background-color: #5DBCD2;
   width: 0;
}

.fotorama {
  width: 65%;
  margin: 5% auto; 
  padding-left: 25%;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 20px;
}

#resume_header{
  border-bottom: .05em solid #003300;
}

#education{
  border-bottom: .05em solid #003300;
}

#skills{
  border-bottom: .05em solid #003300;
}

#relevantcoursework{
  border-bottom: .05em solid #003300;
}

#workexp { 
  border-bottom: .05em solid #003300;
}

div ul {
  width: 25%; 
  margin-left: auto;
  margin-right: auto;
}

#workexp .heading{
  text-decoration: underline;
}

#extra .heading{
  text-decoration: underline;
}

li {
  font-size: 20px;
}
