body {
  font-family: 'Noto Serif', serif;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  /*background: #c0c0aa;
  background: -webkit-linear-gradient(to left, #c0c0aa , #1ce); 
  background: linear-gradient(to left, #c0c0aa , #1ce); */
  margin: 0 15%;
}
h1 {
  font-weight: normal;
  text-align: center; 
  text-transform: uppercase;
  font-size: 4.5em;
  margin-top: 5%;
  padding: 2%;
  border-bottom: .05em solid #003300;
}
h2 {
  font-weight: normal;
  text-align: left; 
  text-transform: uppercase;
  font-size: 2.5em;
}
p {
  font-size: 1.5em; 
  text-align: left;
}
footer {
  clear: both;
  padding: 7em;
  font-size: .75em;
  text-align: center;
}
